<div class="tabbable" np-tab-view ng-controller="Editor">
  <ul class="nav nav-tabs">
    <li np-tab="preview"><a href="#preview">Preview</a></li>
    <li np-tab="edit-html"><a href="#edit-html">Content</a></li>
    <li np-tab="edit-json"><a href="#edit-json">Metadata</a></li>
    <li class="pull-right"><a ng-click="save()">Save</a></li>
  </ul>
  <div class="tab-content">
    <div np-tab-pane="preview" class="tab-pane" id="preview">
      <div ng-include="doc.templateUrl"></div>
    </div>
    <div np-tab-pane="edit-html" class="tab-pane" id="edit-html">
      <codemirror ng-model="doc.content" mode="htmlmixed"></codemirror>
    </div>
    <div np-tab-pane="edit-json" class="tab-pane" id="edit-json">
      <form class="form-horizontal" ng-submit="save()">
        <div class="control-group">
          <label class="control-label" for="name">Name</label>
          <div class="controls">
            <input type="text" id="name" ng-model="doc.name">
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="title">Title</label>
          <div class="controls">
            <input type="text" id="title" ng-model="doc.title">
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="published">Published</label>
          <div class="controls">
            <div class="input-append">
              <input type="text" id="published" ng-model="doc.published">
              <a class="btn" ng-click="publish()">Publish</a>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
