<div class="tabbable" np-tab-view>
  <ul class="nav nav-tabs">
    <li np-tab="preview"><a>Preview</a></li>
    <li np-tab="edit-html"><a>Edit HTML</a></li>
    <li np-tab="edit-json"><a>Edit JSON</a></li>
    <li class="pull-right"><a ng-click="save()">Save</a></li>
  </ul>
  <div class="tab-content">
    <div np-tab-pane="preview">
      <div ng-include="previewTemplateUrl" ng-controller="PageController"></div>
    </div>
    <div np-tab-pane="edit-html">
      <codemirror ng-model="content" mode="htmlmixed"></codemirror>
    </div>
    <div np-tab-pane="edit-json">
      <codemirror ng-model="meta" mode="json"></codemirror>
    </div>
  </div>
</div>
