<div ng-controller="Settings">
  <form class="form-horizontal" ng-submit="save()">
    <div class="control-group">
      <label class="control-label" for="title">Title</label>
      <div class="controls">
        <input type="text" id="title" ng-model="settings.title">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="theme">Theme</label>
      <div class="controls">
        <input type="text" id="theme" ng-model="settings.theme">
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <a ng-click="save()" class="btn btn-primary">Save</a>
      </div>
    </div>
  </form>
</div>
